* {
  box-sizing: border-box;
}

#chart {
  display: flex;
  width: 90%;
  align-items: flex-end;
  margin: 5rem auto;
}

#chart div {
  background-color: rgb(14, 17, 224);
  margin: 0.5px;
  width: 300px;
  align-items: center;
}
